.image-change
{
    max-width: 250px;
    height: auto;
    margin: 0 auto;
}
body
{
    text-align: center;
    min-width: 350px;
    background-image: url('https://static.vecteezy.com/system/resources/previews/011/058/150/original/blank-white-background-with-wavy-green-and-simple-design-suitable-for-presentation-background-vector.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
